/*   Fonts  */
@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("assets/fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/raleway-regular-webfont.woff2") format("woff2"),
    url("assets/fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$default-font: "Roboto", sans-serif;
$default-font-size: 14px;
