@font-face {
  font-family: 'icomoon';
  src:  url('icon-fonts/icomoon.eot?u2dlox');
  src:  url('icon-fonts/icomoon.eot?u2dlox#iefix') format('embedded-opentype'),
    url('icon-fonts/icomoon.ttf?u2dlox') format('truetype'),
    url('icon-fonts/icomoon.woff?u2dlox') format('woff'),
    url('icon-fonts/icomoon.svg?u2dlox#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-long-right:before {
  content: "\e900";
}
.icon-arrow-top-right-r:before {
  content: "\e901";
}
.icon-backspace:before {
  content: "\e902";
}
.icon-bell:before {
  content: "\e903";
}
.icon-browse:before {
  content: "\e904";
}
.icon-calendar-dates:before {
  content: "\e905";
}
.icon-check:before {
  content: "\e906";
}
.icon-check-o:before {
  content: "\e907";
}
.icon-credit-card:before {
  content: "\e908";
}
.icon-display-fullwidth:before {
  content: "\e909";
}
.icon-feed .path1:before {
  content: "\e90a";
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.icon-feed .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.icon-feed .path3:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.8;
}
.icon-feed .path4:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.8;
}
.icon-feed .path5:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-feed .path6:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-folder-add:before {
  content: "\e910";
}
.icon-format-separator .path1:before {
  content: "\e911";
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.icon-format-separator .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.icon-format-separator .path3:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.icon-format-separator .path4:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.icon-format-separator .path5:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-globe-alt:before {
  content: "\e916";
}
.icon-heart:before {
  content: "\e917";
}
.icon-home:before {
  content: "\e918";
}
.icon-layout-grid:before {
  content: "\e919";
}
.icon-log-out:before {
  content: "\e91a";
}
.icon-mail:before {
  content: "\e91b";
}
.icon-mdi_security:before {
  content: "\e91c";
}
.icon-mdi_star:before {
  content: "\e91d";
}
.icon-mdi_truck-fast:before {
  content: "\e91e";
}
.icon-menu:before {
  content: "\e91f";
}
.icon-menu-grid-r:before {
  content: "\e920";
}
.icon-more-vertical-alt:before {
  content: "\e921";
}
.icon-options:before {
  content: "\e922";
}
.icon-organisation:before {
  content: "\e923";
}
.icon-pdf:before {
  content: "\e924";
}
.icon-pen:before {
  content: "\e925";
}
.icon-phone:before {
  content: "\e926";
}
.icon-pin:before {
  content: "\e927";
}
.icon-printer:before {
  content: "\e928";
}
.icon-profile:before {
  content: "\e929";
}
.icon-shopping-bag:before {
  content: "\e92a";
}
.icon-shopping-cart:before {
  content: "\e92b";
}
.icon-today .path1:before {
  content: "\e92c";
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.icon-today .path2:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-today .path3:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-toggle-off:before {
  content: "\e92f";
}
.icon-toggle-on:before {
  content: "\e930";
}
.icon-track:before {
  content: "\e931";
}
.icon-trash:before {
  content: "\e932";
}
.icon-trophy:before {
  content: "\e933";
}
.icon-user:before {
  content: "\e934";
}
