<div class="admin-sidebar sidebar-contents">
    <div class="laugfs-sidebar">
        <div class="logo-img admin-logo">
            <img src="../../../assets/images/logo-white.png" alt="">
        </div>
        <div class="pro-link sidebar-links">
            <a (click)="activeTab=1" [ngClass]="{'active':activeTab==1}" class="sidebar-navs active">
                <span class="ico icon-display-fullwidth"></span>
                <span class="nav-text">Overview</span>
            </a>
            <li class="panel panel-default" id="dropdown1">
                <a data-toggle="collapse" href="#dropdown-lvl1" class="sidebar-navs">
                    <span class="ico icon-options"></span>
                    <span class="nav-text">General Settings</span>
                </a>
                <div id="dropdown-lvl1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav adminp">
                            <li><a (click)="activeTab=2" [ngClass]="{'active':activeTab==2}" class="sidebar-navs">
                                    Common Settings
                                </a></li>
                            <li><a (click)="activeTab=3" [ngClass]="{'active':activeTab==3}" class="sidebar-navs">
                                    Payment settings
                                </a></li>
                            <li><a (click)="activeTab=4" [ngClass]="{'active':activeTab==4}" class="sidebar-navs">
                                    Terms & Conditions
                                </a></li>
                            <li><a (click)="activeTab=5" [ngClass]="{'active':activeTab==5}" class="sidebar-navs">
                                    Email settings
                                </a></li>
                            <li><a (click)="activeTab=6" [ngClass]="{'active':activeTab==6}" class="sidebar-navs">
                                    Loyalty settings
                                </a></li>
                            <li><a (click)="activeTab=7" [ngClass]="{'active':activeTab==7}" class="sidebar-navs">
                                    Branch
                                </a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <a (click)="activeTab=8" [ngClass]="{'active':activeTab==8}" class="sidebar-navs">
                <span class="ico icon-shopping-bag"></span>
                <span class="nav-text">Product Settings</span>
            </a>
            <a (click)="activeTab=9" [ngClass]="{'active':activeTab==9}" class="sidebar-navs">
                <span class="ico icon-feed"></span>
                <span class="nav-text">Item Management</span>
            </a>
            <a (click)="activeTab=10" [ngClass]="{'active':activeTab==10}" class="sidebar-navs">
                <span class="ico icon-browse"></span>
                <span class="nav-text">Order Management</span>
            </a>
            <a (click)="activeTab=11" [ngClass]="{'active':activeTab==11}" class="sidebar-navs">
                <span class="ico icon-profile"></span>
                <span class="nav-text">Customer Management</span>
            </a>
            <a (click)="activeTab=12" [ngClass]="{'active':activeTab==12}" class="sidebar-navs">
                <span class="ico icon-mdi_security"></span>
                <span class="nav-text">Access Management</span>
            </a>
            <a (click)="activeTab=13" [ngClass]="{'active':activeTab==13}" class="sidebar-navs">
                <span class="ico icon-mdi_truck-fast"></span>
                <span class="nav-text">Transport Management</span>
            </a>
        </div>
    </div>
</div>