@import "assets/fonts/icon-fonts.css";
@import "assets/scss/variables";
@import "assets/scss/fonts";

html {
  scroll-behavior: smooth;
}
body {
  font-family: $default-font;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  color: $defaultfont;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
th,
tr {
  font-family: $default-font;
  color: $defaultfont;
}

/*    Scrollbar    */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $greyfont;
  border-radius: 3px;
}

/*    Sidebar    */
.admin-sidebar {
  padding: 20px 30px 20px 20px;
  background: $darkblue;
  width: 310px;
  position: fixed;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}
